# vim: ft=nginx noet:

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name {{ vhost.name }}{% for alias_ in vhost.aliases | default([]) %} {{ alias_ }}{% endfor %};

	ssl_certificate /etc/letsencrypt/live/{{ vhost.name }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ vhost.name }}/privkey.pem;

	include "/etc/nginx/ssl.conf";

	{% if onion %}add_header Onion-Location http://{{ onion }}$request_uri;{% endif %}

{{ vhost.content }}
}

{%- if onion %}

server {
	listen 80;
	listen [::]:80;
	server_name {{ onion }};

{{ vhost.content }}
}
{%- endif %}
